<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="">
    <label>Usuario</label><br>
    <input type="text" [(ngModel)]="usr.usr"><br>
    <label>Contraseña</label><br>
    <input type="text" [(ngModel)]="usr.pass"><br>
    {{some}}
    <button type="button" name="button" (click)="onClick()">Has algo</button>
</div>
